#question{

}

#answer{
    
}

body{
    background-image: url("https://wallpapermemory.com/uploads/755/jojo-s-bizarre-adventure-background-hd-1920x1080-297301.jpg");
}

.container{
    background-color: orange;
}

#question{
    background-color: burlywood;
}

.answer:hover{
    color: blue;
    background-color: wheat;
}

.answer:active{
    background-color: blueviolet;
}